<div class="testimonial-group">
    <div class="testimonial-item" *ngFor="let client of clients">
        <div class="testimonial-post">
            <span class="post-title"> {{ client.title }} </span>
            <p class="post-body"> {{ client.body }} </p>
        </div>
        <div class="client-item">
            <img class="client-icon" src="{{ path+client.icon }}" alt="client.icon">
            <div class="client-info">
                <span class="client-name"> {{ client.name }} </span>
                <span class="client-employment"> {{ client.employment }} </span>
            </div>
        </div>
    </div>
</div>
