*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    height:          100%;
}
:root {
    /*colors*/
    --angle-gradient:           150deg;
    --color-bg-primary:         rgb(188, 45, 13);
    --color-bg-primary-opacity: rgb(188, 45, 13, 0.7);
    --color-font-primary:       white;
    --color-bg-secondary:       white;
    --color-font-secondary:     green;
    --color-bg-info:            white;
    --color-font-info:          rgb(0, 16, 156);
    --color-bg-danger:          red;
    --color-font-danger:        red;    
    --color-bd-footer:          rgb(252, 242, 184);
    --color-font-footer:        rgb(232, 168, 50);
    --color-bg-sidebar:         rgb(251, 236, 152);
    --color-font-sidebar:       rgb(232, 168, 50);
    /*padding*/
    --primary-padding-top:      1vh;
    --primary-padding-right:    1vw;
    --primary-padding-bottom:   1vh;
    --primary-padding-left:     1vw;
    --secondary-padding-top:    .5em;
    --secondary-padding-right:  .5em;
    --secondary-padding-bottom: .5em;
    --secondary-padding-left:   .5em;
    /*sizes*/
    --header-min-height:        5vh;
    --main-min-width:           75vw;
    --sidebar-min-width:        25vw;
    --footer-min-height:        3vh;
    --font-size:                12px;
}

body{
    display:          flex;
    flex-direction:   column;
    flex-wrap:        nowrap;
    margin:           0 auto;
    min-height:       100%;
    background:       url(../img/background.png) repeat top left;
    background-size:  171px 174px; /*true size: 116 114*/
    background-color: var(--color-bg-primary, rgb(156, 29, 0));
    color:            var(--color-font-primary, white);
    font-family:      'Times New Roman', Times, serif;
    font-size:        var(--font-size, 100%);
}

h1, h2{
    text-align: center;
}

.main_conteiner{
    flex:           1 0 auto;
    display:        flex;
    flex-direction: row;
    flex-wrap:      nowrap;
    min-width:      100%;
}

#header{
    flex:            0 0 var(--header-min-height, 5vh);
    align-items:     flex-start;
    min-width:       100%;
    background:      url(../img/background_header.png) no-repeat top center;
    background-size: cover;
}

#footer {
    flex:        0 0 var(--footer-min-height, 3vh);
    align-items: flex-end;
    min-width:   100%;
    font-size:   .8em;
    background:  var(--color-bd-footer, rgb(211, 211, 216));
    color:       var(--color-font-footer,  rgb(175, 175, 182));
}

#footer a{
    color: var(--color-font-footer,  rgb(175, 175, 182));
}

.main_conteiner > main{
    flex:       1 0;
    min-width:  var(--main-min-width, 15vw);
}

.main_conteiner > main section, .div_info{
    padding-top:      var(--secondary-padding-top, 0);
    padding-right:    var(--secondary-padding-right, 0);
    padding-bottom:   var(--secondary-padding-bottom, 0);
    padding-left:     var(--secondary-padding-left, 0);
    background-color: var(--color-bg-primary-opacity, rgb(156, 29, 0));
}

.main_conteiner > aside {
    flex:           0 0 var(--sidebar-min-width, 15vw);
    align-items:    flex-start;
    display:        flex;
    flex-direction: column;
    padding:        0 var(--primary-padding-right, 0) 0 var(--primary-padding-left, 0);
    background:     var(--color-bg-sidebar, rgb(211, 211, 216));
    color:          var(--color-font-sidebar,  rgb(175, 175, 182));
}

#navigation{
    align-items:     flex-start;
    min-width:       100%;
    list-style-type: none;
}

#navigation ul, #navigation li{
    padding:      0;
    margin:       0;
    list-style:   none;
}

#navigation li{
    border-bottom: .15em solid var(--color-font-secondary, green); 
}

#navigation a{
    text-decoration: none;
    transition:      all 0.3s ease 0s; 
    color:           var(--color-font-secondary, green);    
}

#navigation a:hover{
    opacity: 0.5;
}

.cards{
    display:          flex;
    flex-direction:   row;
    flex-wrap:        wrap;
    align-items:      center;
}

.item_card{
    --min-width:     23vw;
    --min-height:    calc(var(--min-width, 23vw) * 1.5); 
    flex:            0 0 var(--min-width, 23vw);
    min-height:      var(--min-height, 25vh);
    margin:          0 0  0.3em 0.3em;
    border-radius:   0.3em;
    background:      url(../img/card_front.jpg) no-repeat top center;
    background-size: cover;
}

.item_card:hover::after{
    content:          attr(card_data);
    background-color: var(--color-bg-info, rgb(156, 29, 0));
    color:            var(--color-font-info, white);
}

.table_view{
    padding:          0px 4px 20px 4px;
    margin:           5px 0px 5px 0px ;
    border:           1px solid  var(--color-bg-primary);
    border-radius:    10px;
    overflow:         scroll;
    background-color: var(--color-bg-secondary, white);
}

.table_view h2{
    color: var(--color-font-primary, white);
}

.table_view th{
    text-align: left;
    color:      var(--color-font-secondary, green);
}

.table_view td{
    text-align: left;
    color:      var(--color-bg-primary, rgb(221, 1, 75));
}

.img_view{
    width:  20vh;
    height: 20vh;
}

.img_calendar:hover title{
    display: block;
}

.details_calendar {
    padding:       .5em .5em 0;
    border:        1px solid  var(--color-bg-primary, rgb(221, 1, 75));
    border-radius: 4px;
}
.details_calendar summary {
    font-weight: bold;
    margin:      -.5em -.5em 0;
    padding:     .5em;
}
.details_calendar p, .img_calendar title{
    position:         absolute;
    max-width:        10em;
    background-color: var(--color-bg-secondary, white);
    color:            var(--color-font-secondary, green);
    text-align:       center;
}

.div_info{
    border-radius: 0.3em;
    text-align:    left;
}

.img_for_trees{
    width:  30vh;
    height: 30vh;
}
.img_for_test{
    display: block;
    width:   80%;
}

@media (min-width: 500px){
    :root{
        --header-min-height:        15vh;
        --main-min-width:           85vw;
        --sidebar-min-width:        12vw;
        --footer-min-height:        3vh;
        --font-size:                12px;
        --font-size: 100%;
    }
    .main_conteiner main{
        padding: 0 15vw 5vw 1vw;
    }
    #footer{
        font-size: 100%;
    }
    .item_card{
        --min-width:    10vw;
        margin:         0 0 1em 1em;
        border-radius:  1em;
    }    
}
