<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="logo">
    <img
      width="34"
      height="34"
      alt="Logo"
      src="assets/img/Logo.png"
    />
    <span class="logo-name">Lawliet</span>
  </div>

  <!-- Navigation bar -->
  <app-navigation-bar class="navbar"></app-navigation-bar>
  
  <img
    class="search-img"
    width="24"
    height="24"
    alt="Search outline"
    src="assets/img/Search_outline.png"
  />
</div>

<!-- Main -->
<div class="content" role="main">

  <!-- Hero section -->
  <div class="hero-section">

    <div class="hero-content">
      <span class="hero-title">
        Your Solution 
        Legal Consultacy
      </span>

      <p class="hero-post">
        We are here to help you take care of your 
        legality with the best service especially for you.
      </p>

      <button class="hero-button">
        <span class="hero-button-name">GET STARTED</span>
      </button>
    </div>

    <img
      class="hero-img"
      width="549px"
      height="973.94px"
      alt="Hero"
      src="assets/img/hero.png"
    />
  </div>

  <!-- Why section -->
  <div class="why-section">
    <div class="why-content">
      <span class="why-title">
        Why do we help with legalization?
      </span>

      <p class="why-post">
        We are here for UMKM in Indonesia to carry out the legalization process, 
        which is sometimes complicated.
      </p>
    </div>
    <!-- Why box -->
    <app-why-box class="why-box"></app-why-box>

  </div>

  <!-- Client tastimonial section -->
  <div class="tastimonial-section">

    <span class="tastimonial-title">
      Clients Testimonial
    </span>

    <!-- tastimonial -->
    <app-testimonial class="tastimonial"></app-testimonial>

    <img 
      class="tastimonial-img"
      width="54px"
      height="10px"
      alt="scroll"
      src="assets/img/scroll.png"
    />
  </div>
  
  <!-- Footer -->
  <footer class="footer">
    <div class="logo-ligth">
      <img
        width="54"
        height="54"
        alt="Logo"
        src="assets/img/Logo_light.png"
      />
      <span class="logo-light-name">Lawliet</span>
    </div>

    <!-- Links -->
    <app-footer-links class="footer-links"></app-footer-links>

  </footer>

  <!--Sub footer -->
  <div class="sub-footer">
    <span class="sub-footer-info">
      © 2021 Lawliet. All rights reserved
    </span>
   
    <!--Sub footer links -->
    <app-sub-footer-links class="sub-footer-links"></app-sub-footer-links>

  </div>
</div>

