.why-group-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 545px;
    height: 534px;
    gap: 30px;
}

.why-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 0;
}

.why-post img{
    flex: 0 0 0;
    width: 37px;
    height: 37px;
    margin: 24px 24px 22px 24px;
}

.why-post span{
    flex: 0 0 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #363940;
    height: 44px; 
    margin: 0 24px 10px 24px;
}

.why-post p{
    flex: 0 0 0;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.3px;
    color: #8B8C8C;
    margin: 0 24px 24px 24px;  
}