.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 56px;    
}

.link{
    flex: 0 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    /* identical to box height, or 192% */
    
    letter-spacing: 1.5px;
    
    /* Neutral / Grey 7 */
    
    color: #2D2F30;    
}