*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --calc-color-bg-1: rgba(0, 217, 255, 0.979);
    --calc-color-bg-2: rgba(0, 217, 255, 0);
    --button-color-bg: rgba(0, 217, 255, 0.721);
    --button-m-color-bg: rgba(16, 54, 61, 0.26);
    --button-del-color-bg: rgba(244, 12, 8, 0.685);
    --button-num-color-bg: rgba(173, 243, 249, 0.687);
    --button-eql-color-bg: rgba(17, 144, 242, 0.925);
    --button-color-hover: rgba(227, 244, 246, 0.886);
    --screen-color-bg: white;
    /*sizes*/ 
    --screen-min-size: 10vh;
    --history-min-size: calc( var(--screen-min-size, 9vh) * 0.3);
    --result-min-size: calc( var(--screen-min-size, 9vh) * 0.7);
    --button-min-width: 15vw;
    --button-min-heigth: 5vh;
    --font-size: 12px;
    --history-font-size: 12px;
    --result-font-size: 40px;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Times New Roman', Times, serif;
    background: url(../img/bg.jpg) no-repeat top center;
}

.calculator{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: content;
    padding: 1em 1em 0.5em 1em;
    margin: 1em;
    border-radius: 4%;
    border-style: none;
    background: linear-gradient(70deg, var(--calc-color-bg-1, blue),
                            var(--calc-color-bg-2, white));
    box-shadow: 0 0.9em 0.5em 0 rgba(83, 186, 198, 0.441),
                0 0.1em 0.5em 0 rgba(0,0,0,0.19);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    padding: 1vw;
}

#calculator_screen{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 100%;
    height: var(--screen-min-size, 30vh);
    border: 1px solid var(--calc-color-bg-1,blue);
    background-color: var(--screen-color-bg, white);
    border-radius: 5%;
    text-align: right;
}

#history{
    flex: 0 1 var(--history-min-size, 10vh);
    border-bottom: 1px solid var(--calc-color-bg-1,blue);
    font-size: var(--history-font-size, 12px);
}

#result{
    flex: 1 1 var(--result-min-size, 20vh);
    font-size: var(--result-font-size, 20px);
}

#buttons > button{
    border-radius: 50% 30% 50% 50%;
    box-shadow: 0 0.5em 0.3em 0 rgba(0,0,0,0.2),
                0 0.1em 0.2em 0 rgba(0,0,0,0.19),
                inset -0.2em -0.3em 0.3em rgba(255,255,255,0.9);
    border-style: none;
    padding: 0.7em;
    min-width: var(--button-min-width, 4em);
    min-height: var(--button-min-heigth, 4em);
    font-size: var(--font-size, 12px);
}

#btnMClear, #btnMPlus, #btnMMinus, #btnMRead{
    background-color: var(--button-m-color-bg,
                     rgba(0, 217, 255, 0.299));
} 

#btnClr, #btnDel{
    background-color: var(--button-del-color-bg,
                     rgba(0, 217, 255, 0.299));
}

#btnDiv, #btnMul, #btnSumN, #btnSumN2, #btnSumN3, #btnNeg, 
#btnSub, #btnSum, #btnPercent, #btnPoint{
    background-color: var(--button-color-bg,
                     rgba(0, 217, 255, 0.299));
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, 
#btn6, #btn7, #btn8, #btn9{
    background-color: var(--button-num-color-bg,
                     rgba(0, 217, 255, 0.299));
}  

#btnEql {
    height: 100%;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: var(--button-eql-color-bg,
                     rgba(0, 217, 255, 0.299));
}

@media (min-width: 500px) {
    :root{
        --button-min-width: 4vw;
        --button-min-heigth: 3vh;
        --font-size: 16px;
        --result-font-size: 45px;
    }
}
#buttons > button:hover{
    background: var(--button-color-hover, white);
}